/*for phone screens, we don't have space for huge text and margins */
@media only screen and (max-width:500px) {

    .outerCard{
        margin: 7px !important;
    }

    .header{
        font-size: 24px !important;
    }

    .contents{
        overflow: auto;
    }

    .imageContainer{
        display: block !important;
    }
}


.card{
    background-color: #f7fffdea;
    color: #1b1b1b;
    border-radius: 7px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}

.outerCard{
    padding: 15px;
    height: 93%;

    animation-name: open;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card.image{
    padding: 10px;
    max-width: 500px;
}

.card.image img{
    max-width: 100%;
    max-height: 100%;
}

.button{
    background-color: #dfdfdf;
    border-radius: 7px;
    padding: 15px;
    font-weight: 1000;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover{
    animation-name: link_highlight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes link_highlight {
    from {
        background-color: #dfdfdf;
    }
    to {
        background-color: #1fffcf7e;
        color:#1b1b1b;
    }
}

@keyframes open {
    from {
        filter:blur(8px);
        transform: translate(0,90px);
    }
    to {
        
    }
}

.header{
    text-align: center;
}

.imageContainer{
    display: flex;
    justify-content: center;
}

.contents{
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 93%

}