@media only screen and (max-width: 1500px) {
    .vertical_bar{ 
        display: block;
        top: 20%
    }

    .box {
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: normal;
    }
    
    h1.header {
        font-size: 28px;
    }
    
}

@media only screen and (min-width: 1501px) {
    .vertical_bar{ 
        display: flex;
        top: 45%;
        margin-left: 40px;
        margin-right: 40px;
    }

    h1.header {
        font-size: 60px;
    }
}

.box{
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    text-align: center;

    -webkit-transition: all 1s ease;
    transition: all 1s ease;

    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-name: start;
}

.box:hover{
    color: #ffffff;
    cursor: pointer;

    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    
    background-color: #1fffcf7e;
    border-radius: 15px;
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.vertical_bar{
    position: absolute;

    animation-name: blurOut;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes blurOut{
    from{
        filter:blur(8px);
    }
    to {

    }
}

@keyframes start {
    from{
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    to {
        margin-left: 50px;
        margin-right: 50px;
    }
}

body{
    display: flex;
    justify-content: center;
}

h1.header{
    font-weight: 600;
}

p.name{
    font-weight: bold;
    font-size: 18px;
    margin-top: 35px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 200;
}

.link{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link:hover{
    background-color: #1fffcf7e;
    border-radius: 7px;

    animation-name: link_highlight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes link_highlight {
    from {
        background-color: #1fffcf7e;
    }
    to {
        background-color: #dfdfdf;
        color:#1b1b1b;
        filter:drop-shadow(5px)
    }
}

a.link{
    display: block;
    font-weight: bold;
}



