/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    align-items: center;
    justify-content: center;
}

body.home{

    background-image: url(./assets/images/dan-meyers-aGLFozyvXsQ-unsplash.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    color: #dfdfdf;
    background-color: #000000;

    /* animation: shrink 1s; */
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: 'Commissioner', sans-serif;
    line-height: 1.5em;
    margin: 0;
}

@keyframes shrink{
    from{
        background-size: 110%;
    }
    to {
        background-size: 100%;
    }
}

h1{
    line-height: normal;
}
